
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;

}
body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  }
.top-bar {
  width: 80%;
  height: 5rem;
  background-color: blue;
  margin-bottom: 20px;
  display: flex;
  padding: 0px 230 px;
  align-items: center;
  justify-content: space-between;

}
#titre{
  width: 60%;
}

.header {
  width: 80%;
  height: 200px;
  background-color: rgb(67, 11, 105);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;

}
.navbar {

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar p {

  font-size: 30px;
  font-weight: bold;
  color: white;
  
}

.navbar ul{
display: flex;
list-style: none;

}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  padding: 7px 15px;
}


.navbar ul li a:hover{
  background-color: white;
  color: brown;
  border-radius: 3px;}

.navbar-b{

  display: flex;
  align-items: center;
  justify-content: space-between;

}
.dropdown {
  width: 130px;
  text-align: center;
  background-color: white;
  border-radius: 3px;

}
select{
  outline: none;
  border: none;
  background:none ;
  padding: 7px 10px 7px 0px;
  color: blue;
  font-size: 18px;
  cursor: pointer;
}
.recherche{
  width: 500px;
  height: 45px;
  background-color: white;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.recherche input{
  width: 440px;
  border:none;
  outline: none;
  height: 40px;

}


.cart {
  
  background-color: white;
  align-items: center;
  display: flex;
  padding: 7px 10px;
  border-radius: 3px ;
  width: 45px;
  height: 45px;
  justify-content: space-between;
  font-size: 18px;
  display: flex;

  
}
.container {

  margin-top: 10px;
  width: 40%;
  background-color:#e7e3db;
  text-align: center;
  border-radius: 5px;
  flex-wrap: wrap;
 margin-left: 650px;
 
  }

  .sidebar {

    background-color: blue;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
           
  }

  .foot{

    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 10px 10px;
    border-top: 1px solid;
  }

  
  div#store{
   margin-top: 50px;
   font-size:1.5em;
   text-transform: uppercase;
   display: flex
   
      
  }
  .card-image{
   align-items: center;
    margin: 10px;
  }
  
  